<form action="/todos" method="post">
    <div class="input-group">
        <input type="text" placeholder="name" name="name" class="form-control">
        <div class="input-group-append">
            
            <button class="btn btn-info" type="submit">Create</button>
            <a class="btn btn-dark" href="/">Back</a>
        </div>
    </div>


</form>