<form action="/todos" method="post" style="display: inline;">
    <div class="input-group">
        <input type="text" placeholder="name" name="name">
        <div class="input-group-append">
            
            <button class="btn btn-success" type="submit">Create</button>
            <a class="btn btn-dark" href="/">Back</a>
        </div>
    </div>


</form>